body {
  padding: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans;
}

#header {
  float: none;
  clear: both;
  overflow: hidden;

  h1 {
    width: 40%;
    float: left;
    // background: purple;
    margin: 0;
    padding: 0;
  }

  ul {
    // background: green;
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    width: auto;

    > li {
      float: left;
      padding: 0 10px;
      // border-right: 1px solid #999;

      &:last-child {
        border: none;
      }
    }

  }

}


a {
  color: #72BCEC;
  text-decoration: none;
}

ul.terms {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    margin: 0;
    padding: 10px 0;

    h3 {
      // background-color: #F0F0F0;
      margin: 0;
      padding: 0 0 4px 0;
    }

    p {
      margin: 0;
      padding: 0;
      // background-color: #99F0F0;
    }

  }

}


#notice {
  color: green;
}

#error_explanation {
  color: red;
}

#error_explanation h2 {
  display: none;
}

#error_explanation ul {
  padding-left: 0px;
  list-style-position: inside;
}

.field {
  border-top: 1px solid #F0F0F0;
  padding: 10px 0;
}

.field label {
  color: #999;
  display: block;
  padding: 0 0 3px 0;
}

.field input {
  border: 1px solid #333;
  border-right-color: #DDD;
  border-bottom-color: #DDD;
  padding: 5px;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans;
}

.field .field_with_errors {
  display: inline;
}

.field .field_with_errors label {
  color: red;
}
